.navbar{
    padding-right:5%;
    background-color: black;
   
}
.nav-item2{
    list-style: none;
   /* padding-left: 5%; */
   font-size: 20px;
   font-style: italic;
   color:white;
   cursor:pointer;
   padding:0 0 0 0
}
.nav-item1{
    list-style: none;
    font-size: 20px;
    font-style: italic;
    color:white;
    
   padding:0 0 0 572px
}
.nav-item{
    font-size: 30px;
    color:white
}
.nav-brand{
    width:40px;
    border-radius:45%;
    object-fit: cover;
}