<div *ngIf="admin">
    <ul class="navbar">
        <li class="nav-item ">
          <a class="nav-link">Admin </a>
        </li>
        <li class="nav-item1" >
          <a class="nav-link" >Hello, {{name}}</a>
        </li>
       
        <li class="nav-item2"   >
          <a class="nav-link" (click)="logOut()" >Logout</a>
        </li>
    </ul>
    </div>
  
    <div  *ngIf="!admin">
        <ul class="navbar">
            <li class="nav-item ">
              <a class="nav-link">Employee </a>
            </li>
            <li class="nav-item1" >
              <a class="nav-link" >Hello, {{name}}</a>
            </li>
           
            <li class="nav-item2"   >
              <a class="nav-link" (click)="logOut()" >Logout</a>
            </li>
        </ul>
        </div>