.navbar{
    padding-right:1%;
    background-color: black;
   
}
.nav-item2{
    list-style: none;
 
   font-size: 20px;
   font-style: italic;
   color:white;
   cursor:pointer;
}
.navitem1{
    list-style: none;
    font-size: 20px;
    font-style: italic;
    color:white;
    margin-left:auto;
    cursor: pointer;
}
.nav-item{
    font-size: 30px;
    color:white
}
.nav-brand{
    width:40px;
    height:40px;
    border-radius:50%;
    
    /* object-fit: cover; */
}


