
  
    <div  *ngIf="admin">
     
      <ul class="navbar">
          <li class="nav-item ">
            <a >Admin</a>
          </li>
          <li class="navitem1" >
            <a  >
              <img  >  Hello, {{name}} |  </a>
          </li>
       
          <li class="nav-item2"   >
            <a class="nav-link" (click)="logOut()" >Logout</a>
            
          </li>
       
      </ul>
    
    
    </div>

  
    <div  *ngIf="!admin">
     
        <ul class="navbar">
            <li class="nav-item ">
              <a >Employee </a>
            </li>
            <li class="navitem1" >
              <a  >
                <img  class="nav-brand"src="{{photo}}">  Hello, {{name}} |  </a>
            </li>
         
            <li class="nav-item2"   >
              <a class="nav-link" (click)="logOut()" >Logout</a>
              
            </li>
         
        </ul>
      
      
      </div>

      