<div *ngIf="admin">
  <div class="fonttable">
    <div>
      <!-- <form #filterdata="ngForm" (ngSubmit)="filtering(filterdata)">
      <input type="text" id="filter" ngModel  name="filter" placeholder="Enter Age">
      <button>click</button>
    </form> -->
      <input
        type="text"
        class="form-control"
        placeholder="Enter Value"
        [(ngModel)]="age"
      />
     
    </div>
    <table class="table table-responsive my-5">
      <thead>
        <tr>
          <th *ngFor="let title of head; let i = index" class="pointer"  (click)="sort(title, i)" >
            <i
              *ngIf="(collect===title)"
              class="{{Arrowtoggle}}"
              
            ></i>
           &nbsp;{{ title }} &nbsp;&nbsp;<i
              class="fas fa-caret-down"
              (click)="toggle()"
            ></i>
            <div>
              <!-- <form #filterdata="ngForm" (ngSubmit)="filtering(filterdata , title)">
            <input type="text" class="form-control"id="filter" name="filter" [(ngModel)]="filter" >
           </form> -->
              <!-- <input type="text" id="name" class="form-control" [(ngModel)]="filter"> -->
              <!-- <td>
          <input type="text" id="title" class="form-control" [formControl]="values">
         
        </td> -->
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
         <tr *ngIf="show">
         <!-- <td><input type="text" id="s.no" class="form-control" /></td>
          <td>
            <input
              type="text"
              id="name"
              class="form-control"
              [formControl]="name"
            />
          </td>
          <td>
            <input
              type="text"
              id="age"
              class="form-control"
              [formControl]="ageNo"
            />
          </td>
          <td>
            <input
              type="text"
              id="dob"
              class="form-control"
              [formControl]="dob"
            />
          </td>
          <td>
            <input
              type="text"
              id="address"
              class="form-control"
              [formControl]="address"
            />
          </td>
          <td>
            <input
              type="text"
              id="phoneNo"
              class="form-control"
              [formControl]="phoneno"
            />
          </td>
          <td>
            <input
              type="text"
              id="location"
              class="form-control"
              [formControl]="location"
            />
          </td> 
          <td><input type="text" id="Action" class="form-control" /></td>-->
           <td *ngFor="let values of inputValues; let i = index">
          <input type="text"id="title" class="form-control" (ngModelChange)="searchFilter(values.value,i-1,(body))" [formControl]="values">
          <div>
            {{values.value}}
          </div>
        </td>
        </tr>
        <tr
          *ngFor="
            let item of body
              | sort
                : 
                [name.value,
                ageNo.value,
                dob.value,
                address.value,
                phoneno.value,
                location.value]
                : ['name', 'age', 'dob', 'address', 'phoneno', 'location']
              | filter : age
              | paginate
                : {
                    itemsPerPage: tableSize,
                    currentPage: page,
                    totalItems: count
                  };
            let i = index
          "
        >
          <td>{{i+1}}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.age }}</td>
          <td>{{ item.dob }}</td>
          <td>{{ item.address }}</td>

          <td>{{ item.phoneno }}</td>
          <td>{{ item.location }}</td>
           <button><span class="material-symbols-outlined" (click)="sendCount(item._id)">
            favorite
            </span></button> 
            <h2>likes: {{likeValue}}</h2>
          <button (click)="deleted(item._id)">
            <i class="fas fa-trash"></i></button
          >&nbsp;
          <button (click)="editable(item._id)">
            <i class="fas fa-pen"></i>
          </button>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-center">
      <pagination-controls
        previousLabel="Prev"
        nextLabel="Next"
        (pageChange)="onTableDataChange($event)"
      >
      </pagination-controls>
    </div>
  </div>
</div>

<div *ngIf="!admin">
  <div class="fonttable">
    <div>
      <!-- <form #filterdata="ngForm" (ngSubmit)="filtering(filterdata)">
        <input type="text" id="filter" ngModel  name="filter" placeholder="Enter Age">
        <button>click</button>
      </form> -->
      <input
        type="text"
        class="form-control"
        placeholder="Enter age"
        [(ngModel)]="age"
      />
    </div>
    <table class="table table-responsive my-5">
      <thead>
        <tr>
          <th
            *ngFor="let title of headForEmployee; let i = index"
            class="pointer"    (click)="sort(title, i )"
          >
            <i
            
             *ngIf="(collect===title)"
              class="{{Arrowtoggle}}"
             
            ></i>
          
            &nbsp;{{ title}} &nbsp;&nbsp;<i 
              class="fas fa-caret-down"
              (click)="toggle()"
            ></i>
            <div>
              <!-- <form #filterdata="ngForm" (ngSubmit)="filtering(filterdata , title)">
              <input type="text" class="form-control"id="filter" name="filter" [(ngModel)]="filter" >
             </form> -->
              <!-- <input type="text" id="name" class="form-control" [(ngModel)]="filter"> -->
              <!-- <td>
            <input type="text" id="title" class="form-control" [formControl]="values">
           
          </td> -->
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="show">
          <td><input type="text" id="s.no" class="form-control" /></td>
          <td>
            <input
              type="text"
              id="name"
              class="form-control"
              [formControl]="name"
            />
          </td>
          <td>
            <input
              type="text"
              id="age"
              class="form-control"
              [formControl]="ageNo"
            />
          </td>
          <td>
            <input
              type="text"
              id="dob"
              class="form-control"
              [formControl]="dob"
            />
          </td>
          <td>
            <input
              type="text"
              id="address"
              class="form-control"
              [formControl]="address"
            />
          </td>
          <td>
            <input
              type="text"
              id="phoneNo"
              class="form-control"
              [formControl]="phoneno"
            />
          </td>
          <td>
            <input
              type="text"
              id="location"
              class="form-control"
              [formControl]="location"
            />
          </td>
         
          <!-- <td *ngFor="let values of inputValues">
            <input type="text"id="title" class="form-control" [formControl]="values">
            <div>
              {{values.value}}
            </div>
          </td> -->
        </tr>
        <tr
          *ngFor="
            let item of body
              | sort
                : [
                    name.value,
                    ageNo.value,
                    dob.value,
                    address.value,
                    phoneno.value,
                    location.value
                  ]
                : ['name', 'age', 'dob', 'address', 'phoneno', 'location']
              | filter : age
              | paginate
                : {
                    itemsPerPage: tableSize,
                    currentPage: page,
                    totalItems: count
                  };
            let i = index
          "
        >
          <td>{{ i + 1 }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.age }}</td>
          <td>{{ item.dob }}</td>
          <td>{{ item.address }}</td>

          <td>{{ item.phoneno }}</td>
          <td>{{ item.location }}</td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-center">
      <pagination-controls
        previousLabel="Prev"
        nextLabel="Next"
        (pageChange)="onTableDataChange($event)"
      >
      </pagination-controls>
    </div>
  </div>
</div>
