.fonttable{
    text-transform: capitalize;
}
.center{
    margin:10%;
    width:500px;
}
.pointer{
    cursor: pointer;
}
.fa-sort{
    color:grey;
}
.fa-arrow-up{
    color:grey;
}
.fa-arrow-down{
    color:grey;
}