<!-- <div *ngIf="!admin">
<ul class="navbar">
    <li class="nav-item ">
      <a class="nav-link">Employee Details</a>
    </li>
    <li class="nav-item1"  >
      <a class="nav-link" >Hello,{{names}}</a>
    </li>
  
    <li class="nav-item2"   >
      <a class="nav-link"  (click)="logOut()">Logout</a>
    </li>
</ul>
</div>

 <div *ngIf="admin">
  <ul class="navbar">
      <li class="nav-item ">
        <a class="nav-link">Admin </a>
      </li>
      <li class="nav-item1" >
        <a class="nav-link" >Hello,{{names}}</a>
      </li>
     
      <li class="nav-item2" >
        <a class="nav-link"  (click)="logOut()">Logout</a>
      </li>
  </ul>
  </div> -->
 <app-header></app-header> 
<h1>User Details</h1>
<div *ngIf="admin">
  <button class="btn btn-primary" routerLink="/details">ADD</button>
</div>

<div class="row">
  <div class="col-md-12"></div>
  <app-table
    [headForEmployee]="headingForUser"
    [head]="headingArray"
    [inputValues]="input"
    [body]="value"
    (delete)="delete($event)"
    (edit)="edit($event)"
  ></app-table>
</div>
